.funParagraph {
  color: green;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --text-color: black;
  --bg-color: hsla(26.08695652,85.18518519%,94.70588235%,1);

  --h1-font: 4.5rem;
  --h2-font: 2.9rem;
  --p-font: 1rem;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: spac;
  padding: 40px 16%;
  background: transparent;
  transition: all .50s ease;
}

.logo {
  font-size: 36px;
  color: var(--text-color);
  font-weight: 600;
}

.navlist {
  display: flex;
  margin-left: 500px;
}

.navlist a {
  font-size: var(--p-font);
  font-weight: 500;
  color: black;
  margin-left: 40px;
  transition: all .50s ease;
}

.navlist a:hover {
  color: black;
  text-decoration: underline;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

section {
  padding: 110px 16% 90px;
}

.hero {
  height: 100vh;
  width: 100%;
  background-position: top right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content {
  flex: 1;
}

.image-container {
  flex-shrink: 0;
}

.image-container img {
  width: 100px; 
  height: auto; 
  margin-left: 20px;
}

.main-content h4 {
  font-size: 1.6rem;
}

.main-content h1 {
  font-size: var(--h1-font);
  font-weight: 900;
  margin: 20px 0px 20px;
  line-height: 1.2;
}

.main-content p {
  font-size: var(--p-font);
  font-weight: 400;
  width: 620px;
  max-width: 100%;
  color: black;
  line-height:  30px;
  margin-bottom: 15px;
}

.social {
  margin-bottom: 40px;
}

.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: black;
  border-radius: 50%;
  backdrop-filter: brigtness(88%);
  font-size: 20px;
  margin-right: 17px;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
  transition: all .50s ease;
}

.social i:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px black;
}

.btn {
  display: inline-block;
  padding: 11px 26px;
  background: black;
  color: var(--bg-color);
  border: 2px solid black;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all .50s ease;
}

.btn:hover {
  background: transparent;
  color: black;
  box-shadow: 0 0 20px black;
}

/* header.sticky {
  background: var(--bg-color);
  box-shadow: 0 .1rem 1rem rgba(0,0,0,.2);
  padding: 16px 16;
} */

.about {
  background: var(--bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.about-text h2{
  font-size: medium;
  line-height: 1.3;
  margin-bottom: 20px;
}

.exp-area {
  margin-bottom: 50px;
}

.exp-area p {
  color: var(--text-color);
  font-weight: 600;
  font-size: 19px;
  line-height: 42px;
}

.exp-area p span {
  color: black;
  font-size: small;
  font-weight: 400;
  margin-left: 8px;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.2rem;
}

.contact-form form{
  position: relative;
  width: 600px;
}

form input, form textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px white;
  background: #2d343f;
  color: white;
  margin-bottom: 20px;
  border-radius: 8px;
}

form input::placeholder, form textarea::placeholder {
  color: white;
  font-size: 15px;
}

form .send-btn {
  display: inline-block;
  padding: 11px 26px;
  background: black;
  color: var(--bg-color);
  border: 2px solid black;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all .50s ease;
  width: 30%;
}

form .send-btn:hover {
  cursor: pointer;
}

.footer {
  padding: 22px;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.copyright p {
  font-size: 15px;
  font-weight: 400;
  color:white;
}

.scroll-top i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #075fe4;
  width: 45px;
  height: 45px;
}